html, body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	border-left: 2px solid #00f28f;
	font-size: 48px;
	font-weight: 400;
	margin-top: 48px;
	padding-left: 20px;
}

.main {
	margin-top: 80px;
}

form input {
	background-color: #f0f0f0;
	border: none;
	border-left: 2px solid #fff;
	font-size: 36px;
	padding: 20px;
	width: 100%;

	transition: background-color 2s, border-bottom 2s;
}

form input:focus {
	background-color: #fff;
	border-bottom: 2px solid #000;
	box-shadow: none;
	outline: none;
}


button.btn {
	background-color: transparent;
	border:	none;
	color: #00f28f;
	cursor: pointer;
	font-size: 36px;
	padding: 20px 24px;

	transition: background-color 1s, color 1s;
}

button.btn:hover {
	background-color: #00f28f;
	color: #fff;
}

table.table {
	margin-top: 24px;
}

table th, td {
	text-align: center;
}


