html, body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	border-left: 2px solid #00f28f;
	font-size: 48px;
	font-weight: 700px;
	padding-left: 20px;
}

.container {
	margin: 40px;
	/*border: 2px solid black;*/
}

.debug {
	border: 2px solid red;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.main {
	margin-top: 100px;
}

.search_results {
	margin-top: 50px;
	list-style: none;
	padding-left: 0px;
}

.wrapper {
	margin-top: 20px;
	/*border:  2px solid black;*/
}


button#btn {
	background: transparent;
	border: none;
	border-radius: 5px;
	color: #00f28f;
	cursor: pointer;
	font-size: 30px;
	margin-left: 47.5%;
	padding: 20px;

	transition: background 1s, color 1s;
}

button#btn:hover {
	background: #00f28f;
	color: #fff;
}

form input {
	background: #f0f0f0;
	border: none;
	box-sizing : border-box; /*#otherwise it was stretching beyond div to the outer main div*/
	font-weight: 400px;
	font-size: 30px;
	padding: 20px;
	text-align: center;
	width: 100%;

	transition: background 2s, border 2s;
}

form input:focus {
	background: #fff;
	border: 2px solid #f0f0f0;
	box-shadow: none;
	outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.2s 0.2s ease; 
  opacity: 0;
}

li {
	border-left: 2px solid #000;
	font-size: 25px;
	margin-bottom: 10px;
	padding-left: 10px;
}
