body {
	background-color: #BEDFE5;
}

header div{
	background-color: white;
	font-family: arial;
	font-style: verdana;
	font-size: 30px;
	padding: 30px;
	text-align: center;
}

form {
	border-style: solid;
	font-size: 20px;
	margin: 0 auto;
	padding: 200px 0;
	text-align: center;
	width: 80%;
}


#box {
	background-color: #BEDFE5;
	border-color: #BEDFE5 #BEDFE5 black #BEDFE5;
	border-style: solid;
	outline: none;
	text-align: center;
}

#container {
	height: auto; 
    margin: 0 auto; 
    border: 1px solid blue;
}

#submit {
	border: 1px solid black;
	border-radius: 5px;
	height: 30px;
	width: 100px;
	background-color: none;
}